:8000 {
    reverse_proxy localhost:8000
    route /_event* {
        reverse_proxy * localhost:8000 {
            header_up Host {host}
            header_up Connection {>Connection}
            header_up Upgrade {>Upgrade}
        }
    }
}